.and{
    margin:auto;
    text-align:center;
    color: #e3fc00;
}
.and2{
    margin:10px auto;
	display:block;
}
.and0{
    background-color: #000000;
}
.and3{
    color: rgb(255, 235, 205);
    text-align: center;
}
.and4{
    margin: 10px auto;
    display: block;
}